*
    margin: 0
    padding: 0

body
    background-color: #c0e0ff

.game
    max-width: 600px
    width: 90%
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    padding: 25px
    border-radius: 15px
    background-color: white
    text-align: center

    h1, .score, .lives
        color: #333
        line-height: 38px

    .score
        position: absolute
        left: 30px

    .lives
        position: absolute
        right: 30px
        top: 25px

    img
        height: 120px
        filter: drop-shadow(0 0 40px #c0e0ff)
        border-radius: 15px
        display: block
        margin: auto
        margin-top: 25px
        margin-bottom: 25px

    button
        width: calc( 50% - 10px )
        border: 1px solid #9ccdff
        border-radius: 15px
        background-color: white
        line-height: 50px
        margin: 5px
        transition: 0.3s
        cursor: pointer
        font-size: 18px
        color: #333

        &:hover
            background-color: #d2e9ff
