* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #c0e0ff;
}

form {
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2666666667);
  padding: 25px;
  border-radius: 15px;
  background-color: white;
  transition: 0.4s;
}

.game, .settings {
  transition: 0.4s;
  max-width: 600px;
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.game h1, .game .score, .game .lives, .game .countryName, .settings h1, .settings .score, .settings .lives, .settings .countryName {
  color: #333;
  line-height: 38px;
}
.game .score, .settings .score {
  position: absolute;
  top: 15px;
  left: 30px;
}
.game .lives, .settings .lives {
  position: absolute;
  left: 30px;
  top: 50px;
}
.game .countryName, .settings .countryName {
  margin: 20px 0;
  font-size: 40px;
}
.game img, .settings img {
  height: 160px;
  filter: drop-shadow(0 0 40px #c0e0ff);
  border-radius: 15px;
  display: block;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 25px;
}
.game .disabled, .settings .disabled {
  pointer-events: none;
  opacity: 0.7;
}
.game .correct, .settings .correct {
  background-color: #bfb;
  border: 1px solid #6a6;
}
.game .incorrect, .settings .incorrect {
  background-color: #ffbbbb;
  border: 1px solid #aa6666;
}
.game button, .settings button {
  width: calc(50% - 10px);
  border: 1px solid #9ccdff;
  border-radius: 15px;
  background-color: white;
  line-height: 50px;
  margin: 5px;
  transition: 0.3s;
  cursor: pointer;
  font-size: 18px;
  color: #333;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  box-sizing: border-box;
  padding: 0 10px;
}
.game button img, .settings button img {
  width: 100%;
}
.game button:not(.correct):not(.incorrect):hover, .settings button:not(.correct):not(.incorrect):hover {
  background-color: #d2e9ff;
}
.game .restartButton, .settings .restartButton {
  width: 90%;
  margin: 0;
  border-radius: 0 0 15px 15px;
  border: none;
  position: absolute;
  bottom: 0;
  left: 5%;
  z-index: -1;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2666666667);
  transition: 0.4s;
}
.game .settingsButton, .settings .settingsButton {
  width: 60px;
  height: 60px;
  background-image: url("../public/settings.png");
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 25px;
  right: 25px;
}

.settings {
  opacity: 0;
  pointer-events: none;
}
.settings .settingsLeft {
  width: 50%;
  float: left;
  display: inline-block;
}
.settings .settingsLeft button {
  width: 100%;
}
.settings .settingsRight {
  margin-top: 10px;
}
.settings .settingsRight h3 {
  display: inline-block;
  vertical-align: middle;
  margin: 0 10px;
}

.settingsShow {
  opacity: 1;
  pointer-events: auto;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  vertical-align: middle;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #c5e2ff;
  transition: 0.4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}/*# sourceMappingURL=App.css.map */